.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Gloria Hallelujah", cursive;
    overflow: hidden;
}

#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit:cover;
  object-position: center center;
  z-index: -1;
}
.overlay {
    width: 1000px;
    height: 900px;
    margin-left:800px;
}
#start-button {
    position: absolute;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 90px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Gloria Hallelujah', cursive;
}

#more-button {
    position: absolute;
    top: 80%;
    left: 86%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 90px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Gloria Hallelujah', cursive;
}
